*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100px;
}

.cdflip{
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    perspective: 1000px;
}

.card{
    width: 25%;
    height: 33.33%;
    position: relative;
    border: 2px solid rgb(0, 0, 0);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card:active{
    transform: scale(0.97);
    transition: transform .2s;
}

.front,.back{
    position: absolute;
    height: 100%;
    width: 100%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: palegreen;
    backface-visibility: hidden;


}

.front{
    transform: rotateY(180deg);

}

.card.flip{
    transform: rotateY(180deg);
}
